<!-- <table>
  <thead>
    <tr>
      <th>Month</th>
    </tr>
  </thead>
  <tbody
    class="search-results ps"
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()"
    (scrolledUp)="onUp()"
    [scrollWindow]="false"
    [perfectScrollbar]="config"
  >
    <tr *ngFor="let i of array">
      <td>{{ i }}</td>
    </tr>
  </tbody>
</table> -->

<div
  class="search-results ps"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown(ev)"
  (scrolledUp)="onUp()"
  [scrollWindow]="false"
  [perfectScrollbar]="config"
>
  <div *ngFor="let i of array">
    <div>{{ i }}</div>
  </div>
</div>
